html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-box {
    margin-top: 5%;
    overflow-x: hidden !important;
    background-color: rgb(142, 135, 135);
    /* width: 74%;
    margin-right: 3%; */

}


.form-group {
    margin: 10px;
    width: 33.5vw;
    margin-top: 40px;
}

input {
    height: 50px;
}

input::placeholder {
    font-size: 20px;
}

.form-text {
    font-size: 15px;
}

/* .dev{
    margin-left: 100px;
} */


.sub {
    font-size: 25px;
    font-weight: 650;
}

.lable-name {
    margin-left: 40px;
    margin-top: -50px;
    font-size: 18px;
}

.checkbox-round {
    display: block;
    width: 50px !important;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: green;
}
.form-control{

}